@using LatteLove.Core;
@model Coffee


<div class="card">
    <div class="card-header">
        <h3>@Model.Name</h3>
    </div>
    <div class="card-body">
        <span>Location: @Model.Location</span>
    </div>
    <div class="card-footer">
        <a class="btn btn-md" asp-page="Detail" asp-route-id="@Model.Id">
            <i class="fas fa-external-link-alt"></i>
        </a>
        <a class="btn btn-md" asp-page="Edit" asp-route-id="@Model.Id">
            <i class="fas fa-edit"></i>
        </a>
        <a class="btn btn-md" asp-page="Delete" asp-route-id="@Model.Id">
            <i class="fas fa-trash-alt"></i>
        </a>
    </div>
</div>

<br/>